*{
   margin:0;
   padding : 0;
   font-family: 'Roboto', sans-serif;
   
}
.navbar{
   height:100px;
   width:100%;
   background-color: #3a6cec;
   display: flex;
   justify-content: space-between;
}
.logo{
   margin:0.8rem 0 0 1.5rem;
}
.logo-slogan{
   margin-left: 2rem;
}
.links a{
   color:white;
   text-decoration: none;
   font-size: 1.1rem;
}
.links{
   height:80px;
   width:500px;
   display: flex;
   justify-content: space-between;
   margin: 3.5rem 1rem 0 0;
}
.info1-text{
   height:400px;
   width:400px;
   margin-right:10rem;
   line-height: 2rem;
   margin-top:2.5rem;
   text-align: center;
   font-size: 1.2rem;
   color:#2E8BC0;
}
.info1{
   display: flex;
   justify-content: center;
   border-bottom: 1px solid white;
}
.info1-img{
   margin-top: 4rem;
}
.info2-text{
   margin-left:5rem;
}
.submit-btn{
   text-align: center;
   display: flex;
   justify-content: center;
   margin-top:1.5rem;
}
.submit{
   height:40px;
   width:300px;
   background-color: #0c73ec;
   border-radius: 1rem;
   color:white;
   font-weight:700;
   font-size: 1.2rem;
}
.vscode{
   height:150px;
   width:100%;
   display: flex;
   justify-content: center;
   margin-top:5rem;
   text-align: center;
   
}
#vscode-img{
   margin-top:2rem;
}
.vscode-btn{
   height:40px;
   width:300px;
   background-color: #0c73ec;
   border-radius: 1rem;
   color:white;
   font-weight:700;
   font-size: 1.2rem;
   margin:4rem 0 0 3rem;
}
.footer{
   height:70px;
   width:100%;
   background-color: #3a6cec;
   text-align: center;
   display: flex;
   justify-content: center;
}
.footer h3{
   margin-top:2rem;
}
.code-opt{
   display:flex;
   justify-content: space-around;
}
.discord{
   height:400px;
   width:1000px;
   background-color: #000;
   color:white;
   margin:auto;
   margin:3rem 0 3rem 18rem;
}
.discord-main{
   display: flex;
   justify-content: center;
}
.discord-text{
   height:300px;
   width:500px;
   margin-right:2rem;
   margin-top:2rem;
   text-align: center;
   line-height:2rem;
}
.discord-text p{
   margin-top:2rem;
}
.discord-img img{
   margin-top:5rem;
   border-radius: 1rem;
}
.discord-btn{
   display: flex;
   justify-content: center;
}
.discord-btn button{
   height:40px;
   width:200px;
   background-color: #0c73ec;
   border-radius: 1rem;
   color:white;
   font-weight:700;
   font-size: 1.2rem;
}
#optimise{
   margin-left:40rem;
   margin-bottom:3rem;
   font-weight:700;
   color: #3a6cec;
}
.code{
   border:3px solid black;
}
